.PostItemForm {
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .7);
    padding: 20px;
    width: 70%;
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow-y: auto;
    border: 3px solid rebeccapurple;
}

.PostItemForm h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.PostItemForm form {
    display: flex;
    flex-direction: column;
}

.PostItemForm input,
.PostItemForm textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.PostItemForm textarea {
    height: 150px;
    resize: vertical;
}

.PostItemForm button {
    background-color: rebeccapurple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.PostItemForm button:hover {
    background-color: blueviolet;
}

.PostItemForm select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.PostItemForm select option {
    font-size: 14px;
    padding: 8px;
}

@media (max-width: 600px) {
    .PostItemForm {
        width: 95%;
        max-width: none;
        padding: 15px;
        top: 30%;
    }

    .PostItemForm h2 {
        font-size: 18px;
    }

    .PostItemForm input,
    .PostItemForm textarea,
    .PostItemForm button {
        font-size: 14px;
    }
}
